@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
  --light-yellow: #fdc90e;
  --main-yellow: #F3BD00;
  --white: #f3f6f8;
  --light-gray: #dee2e6;
  --medium-gray: #757575;
  --main-blue: #0C2B4B;
  --dark-blue: #092139;
  --main-font: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size: 16px;
}

.top-contacts-container {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: var(--main-blue);
}

.top-contacts-container p {
  margin: 0;
  font-size: .8rem;
  color: var(--white);
}

.top-contacts-left,
.top-contacts-right {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.top-contacts-address,
.top-contacts-time,
.top-contacts-phone {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.yellow-icon {
  color: var(--main-yellow);
}

.top-contacts-sm {
  display: flex;
  justify-content: space-between;
}

.top-contacts-sm a {
  padding: .75rem;
  border-right: 1px solid var(--medium-gray);
}

.top-contacts-sm a:hover {
  opacity: 85%;
  transition: .5s;
}

.top-contacts-sm a:nth-last-child(1) {
  border: none;
  padding-right: 0;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav-logo {
  width: 135px;
  padding: 1.25rem 3rem;
  border-right: 1px solid var(--light-gray);
}

.menu-container {
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 2rem 0;
}

.menu-list li a {
  margin-right: 2.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-blue);
}

.menu-list li a:hover {
  color: var(--main-yellow);
  transition: 0.15s ease-in-out;
}

.menu-list li a:active {
  color: var(--main-yellow);
}

.menu-button {
  padding: 1.8rem 3rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  color: var(--white);
  background-color: var(--main-yellow);
}

.menu-button:hover {
  background-color: var(--light-yellow);
  transition: .5s;
}

.banner-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
    url(img/banner.jpg) no-repeat top;
  background-size: cover;

}

.banner-title {
  padding: 0 12rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: var(--white);
}

.banner-buttons {
  display: flex;
  gap: 1.8rem;
}

.banner-button {
  padding: 1rem 3rem;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border: none;
}

.banner-button:hover {
  transition: .5s;
}

.yellow-button {
  color: var(--white);
  background-color: var(--main-yellow);
}

.yellow-button:hover {
  background-color: var(--light-yellow);
}

.white-button {
  color: var(--main-blue);
  background-color: var(--white);
}

.benefits-container {
  display: flex;
  padding: 0 7.5rem;
  margin-top: 6.2rem;
}

.benefits-texts {
  width: 47%;
  display: flex;
  flex-direction: column;
}

.section-subtitle {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--main-yellow);
}

.section-title {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--main-blue);
}

.section-text {
  margin-bottom: 2.2rem;
}

.benefits-texts p {
  line-height: 1.5;
  color: var(--medium-gray);
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.list-item {
  width: 45%;
  padding: .7rem .7rem .7rem 0;
}

.list-item h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.list-item-title {
  display: flex;
  align-items: center;
  gap: .9rem;
  margin-bottom: 1rem;
}

.square-icon {
  color: var(--white);
  background-color: var(--main-yellow);
  padding: .6rem;
}

.benefits-imgs {
  width: 53%;
  padding-left: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 6rem;
}

.benefits-big-img {
  width: 40%;
  height: 45%;
  position: absolute;
  margin-bottom: 3rem;
  background:
    url(img/benefits-1.jpg) no-repeat center;
  background-size: cover;
}

.benefits-small-img {
  width: 200px;
  height: 200px;
  position: relative;
  top: -190px;
  z-index: 1;
  padding: 0 0 1rem 1rem;
  background-color: #fff;
}

.team {
  padding: 0 7.5rem;
  margin-top: 6.2rem;
  text-align: center;
}

.team-profiles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-profiles :nth-child(1) {
  padding-left: 0;
}

.team-profiles :nth-last-child(1) {
  padding-right: 0;
}

.profile-picture {
  width: 100%;
}

.profile-item {
  padding: .7rem;
  display: flex;
  flex-direction: column;
}

.profile-information {
  padding: 1.5rem;
  background-color: var(--white);
}

.profile-name {
  margin: .5rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--main-blue);
}

.profile-position {
  color: var(--medium-gray);
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  padding: 6.2rem 7.5rem;
  margin-top: 6.2rem;
  background-color: var(--main-blue);
}

.bottom-nav-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--white);
}

.bottom-nav-logo {
  width: 140px;
  margin-bottom: 1.5rem;
}

.bottom-contacts-address,
.bottom-contacts-phone,
.bottom-contacts-email {
  display: flex;
  gap: .9rem;
  margin-bottom: .9rem;
  font-style: normal;
  color: var(--white);
}

.quick-links,
.popular-links {
  width: 200px;
}

.contacts-list {
  list-style: none;
}

.contacts-list li {
  margin-bottom: .9rem;
}

.contacts-links {
  margin-bottom: .9rem;
  color: var(--white);
  text-decoration: none;
}

.contacts-links:hover {
  letter-spacing: 1.5px;
  color: var(--main-yellow);
  transition: .3s;
}

.white-arrow-icon {
  margin-right: .5rem;
  color: var(--white);
}

.input-container {
  height: 56px;
  display: flex;
}

#newsletter-input {
  width: 150px;
  padding: 12px;

  font-weight: 400;
  line-height: 1.5;
  border: none;
  color: var(--medium-gray);
}

#newsletter-input:focus {
  outline: 0;
}

.newsletter-button {
  padding: 6px 12px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  color: var(--white);
  background-color: var(--main-yellow);
}

.newsletter-button:hover {
  background-color: var(--light-yellow);
  transition: .5s;
}

.follow-us-title {
  margin: 1.5rem 0 1rem 0;
  font-weight: 600;
  color: var(--white);
}

.follow-us-icons {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding-top: .5rem;
}

.follow-us-icons a {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: 1px solid var(--white);
}

.follow-us-icons a:hover {
  color: var(--dark-blue);
  background-color: var(--white);
  transition: .5s;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7.5rem;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--dark-blue);
}

footer a {
  text-decoration: none;
  color: var(--main-yellow);
}

footer a:hover {
  text-decoration: none;
  color: var(--white);
  transition: .5s;
}

.footer-right {
  text-align: right;
}