@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
  --light-yellow: #fdc90e;
  --main-yellow: #F3BD00;
  --white: #f3f6f8;
  --light-gray: #dee2e6;
  --medium-gray: #757575;
  --main-blue: #0C2B4B;
  --dark-blue: #092139;
  --main-font: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

.yellow-icon {
  color: var(--main-yellow);
}

.top-contacts-container {
  display: flex;
  justify-content: space-between;
  padding: .6em 3em;
  background-color: var(--main-blue);
}

.top-contacts-container p {
  margin: 0;
  font-size: 14px;
  color: var(--white);
}

.top-contacts-left,
.top-contacts-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.top-contacts-address,
.top-contacts-time,
.top-contacts-phone {
  display: flex;
  align-items: center;
  gap: 7px;
}

.top-contacts-sm a {
  padding: 8px 12px 8px 8px;
  border-right: 1px solid var(--medium-gray);
  color: var(--main-yellow);
}

.top-contacts-sm a:hover {
  opacity: 85%;
  transition: .5s;
}

.top-contacts-sm a:nth-last-child(1) {
  border: none;
  padding-right: 0;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-logo {
  width: 125px;
  padding: 1.2em 3em;
  border-right: 1px solid var(--light-gray);
}

.menu-container {
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 2em 0;
}

.menu-list li a {
  margin-right: 35px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-blue);
}

.menu-list li a:hover {
  color: var(--main-yellow);
  transition: 0.15s ease-in-out;
}

.menu-list li a:active {
  color: var(--main-yellow);
}

.menu-button {
  padding: 1.8em 3em;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: var(--white);
  background-color: var(--main-yellow);
}

.menu-button:hover {
  background-color: var(--light-yellow);
  transition: .5s;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
    url(img/banner.jpg) no-repeat top;
  background-size: cover;

}

.banner-title {
  padding: 0 12rem;
  margin-bottom: 3rem;
  font-size: 64px;
  font-weight: bold;
  font-weight: 700;
  text-align: center;
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
  color: var(--white);
}

.banner-buttons {
  display: flex;
  gap: 30px;
}

.banner-button {
  padding: 1em 3em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border: none;
}

.banner-button:hover {
  transition: .5s;
}

.yellow-button {
  color: var(--white);
  background-color: var(--main-yellow);
}

.yellow-button:hover {
  background-color: var(--light-yellow);
}

.white-button {
  background-color: var(--white);
}

.benefits-container {
  display: flex;
  flex-direction: row;
  padding: 8em 4em;
  margin: 0 5em;
}

.benefits-texts,
.benefits-imgs {
  padding: .5em;
}

.benefits-texts {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.section-subtitle {
  margin-bottom: .5em;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--main-yellow);
}

.section-title {
  margin-bottom: 24px;
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.2;
  color: var(--main-blue);
}

.section-text {
  margin-bottom: 36px;
}

.benefits-texts p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--medium-gray);
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.list-item {
  max-width: 45%;
  padding: 12px 12px 12px 0;
}

.list-item h3 {
  font-size: 20px;
  font-weight: 600;
}

.list-item-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}

.square-icon {
  color: var(--white);
  background-color: var(--main-yellow);
  padding: 10px;
}

.benefits-imgs {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 6em;
}

.benefits-big-img {
  width: 35%;
  height: 50%;
  position: absolute;
  margin-bottom: 3em;
  background:
    url(img/benefits-1.jpg) no-repeat center;
  background-size: cover;
}

.benefits-small-img {
  position: relative;
  top: -190px;
  width: 200px;
  height: 200px;
  z-index: 1;
  padding: 0 0 16px 16px;
  background-color: #fff;
}

.team {
  padding: 96px 12px;
  text-align: center;
}

.team-profiles {
  margin: 0 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-picture {
  width: 100%;
  box-sizing: border-box;
}

.profile-item {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.profile-information {
  padding: 24px;
  background-color: var(--white);
}

.profile-name {
  margin: 8px 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-blue);
}

.profile-position {
  font-size: 16px;
  color: var(--medium-gray);
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  padding: 100px 120px;
  margin-top: 96px;
  background-color: var(--main-blue);
}

.bottom-contacts-address,
.bottom-contacts-phone,
.bottom-contacts-email {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  font-style: normal;
  color: var(--white);
}

.bottom-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  color: var(--white);
}

.bottom-logo {
  width: 140px;
  margin-bottom: 24px;
}

.quick-links,
.popular-links {
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contacts-links {
  margin-bottom: 15px;
  color: var(--white);
  text-decoration: none;
}

.contacts-links:hover {
  letter-spacing: 1.5px;
  color: var(--main-yellow);
  transition: .3s;
}

.white-arrow-icon {
  margin-right: 8px;
  color: var(--white);
}

.input-container {
  height: 56px;
  display: flex;
}

#newsletter-input {
  width: 150px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: none;
  color: var(--medium-gray);
}

#newsletter-input:focus {
  outline: 0;
}

.newsletter-button {
  padding: 6px 12px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--white);
  background-color: var(--main-yellow);
}

.newsletter-button:hover {
  background-color: var(--light-yellow);
  transition: .5s;
}

.follow-us-title {
  margin: 24px 0 16px 0;
  font-weight: 600;
  color: var(--white);
}

.follow-us-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 8px;
}

.follow-us-icons a {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: 1px solid var(--white);
}

.follow-us-icons a:hover {
  color: #000;
  background-color: var(--white);
  transition: .5s;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 120px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--dark-blue);
}

footer a {
  color: var(--main-yellow);
  text-decoration: none;
}

footer a:hover {
  color: var(--white);
  text-decoration: none;
  transition: .5s;
}

.footer-right {
  text-align: right;
}